:root {
    --rojo: #CD533B;
    --verde: #4CAF50;
    --celeste: #28587B;
    --celeste-claro: #437C90;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    max-height: 100vh;
    max-width: 100%;
    box-sizing: border-box;
    background-color: var(--celeste);
}

#circles-ctn {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.circle-neutral-ctn {
    width: 40px;
    height: 40px;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    padding: .5rem;
}

.circle-active {
    background-color: #999;
    color: #222;
    box-shadow: 0 0 2px 5px #333;
}

.circle-correct {
    background-color: var(--verde);
    color:#222
}

.circle-error {
    background-color: var(--rojo);
    color:#222
}

.questions-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 80%;
    min-height: 40vh;
    margin: auto;
    margin-top: 2rem;
    font-size: 1rem;
    border: solid #8A89C0;
    box-shadow: 0 0 2px 2px #888;
    border-radius: 6px;
    padding: 1rem;
}

#question-ctn {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
    text-align: left;
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

#options-ctn {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding: 2rem; */
    
}

.option {
    color: #fff;
    margin-bottom: .7rem;
    display: block;
    cursor: pointer;
    text-align: left;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    width: 90%;
    border: 4px solid #aaa;
    box-shadow: 0 0 2px 2px #888;
}

.option:hover {
    background-color: var(--celeste-claro);
}

.option-correct {
    background-color: var(--verde);
}
.option-error {
    background-color: var(--rojo);
}

.option-blackout {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #222;
    opacity: .2;
    z-index: 100000;
}

.buttons-ctn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.buttons {
    margin-top: 2rem;
    border-radius: 6px;
    padding: 1rem;
    font-size: 2rem;
    box-shadow: 0 0 5px 5px #222;
    cursor: pointer;
}

#remake-q-btn {
    background-color: var(--rojo);
}

.score-marker {
    position: fixed;
    bottom: 5px;
    right: 5px;
    background-color: #8A89C0;
    border-radius: 50%;
    padding: 1rem;
}
.score-marker p {
    font-size: 1.3rem;
    font-weight: 600;
    display: inline-block;
}

#correct-marker {
    color: #04724D;
}

#error-marker {
    color: var(--rojo);
}